.errorBlock {
  position: fixed;
  top: -60px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 400px;
  height: 30px;
  border: 1px solid gray;
  background-color: #ff5b5b;
  animation: error 4s ease;
}

.errorText {
  text-align: center;
  line-height: 30px;
}

@keyframes error {
  from {
    top: -60px;
  }

  10% {
    top: 10px;
  }

  90% {
    top: 10px;
  }

  to {
    top: -60px;
  }
}
