$color-text: #514f4f;

.listItem {
  width: 17em;
  margin: 10px;
  border: 1px solid #e5b567;
  font-size: 1em;
  color: $color-text;
}

.listItem__name {
  position: relative;
  width: 100%;
  min-height: 4em;
  height: 100%;
  text-align: left;
  padding: 0 2em 0 1.5em;
  box-sizing: border-box;
}

.list_nameSong {
  padding: 5px;
  word-wrap: break-word;
}

.list_nameSinger {
  padding: 5px;
  word-wrap: break-word;
}

.btnDel {
  width: 1.1em;
  height: 1.1em;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.5em;
  text-align: center;
  color: $color-text;
  line-height: 100%;

  &:hover {
    cursor: pointer;
    box-shadow: 1px -1px 4px #c6c6c6;
    background-color: #ededed;
  }
}

.btnEdit {
  width: 1.1em;
  height: 1.1em;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5em;
  text-align: center;
  line-height: 100%;
  color: $color-text;

  &:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px #c6c6c6;
    background-color: #ededed;
  }
}

.btnAbout {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 1.5em;
  height: 100%;
  text-decoration: none;
  border-right: 1px solid #c6c6c6;
  background-color: #ededed;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
    background-color: #ededed;
    border: none;
  }
}

.btnAboutSpan {
  width: 1.5em;
  font-size: 3em;
  color: $color-text;
  padding-bottom: 0.2em;
  text-align: center;
}
